* {
    margin: 0%;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.side-bar {
    position: absolute;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(1, 66, 47);
    display: flex;
    flex-direction: column;
    align-self: center;
    transition: 0.5s;
}

.side-bar a {
    display: flex;
    width: 100%;
    background-color: rgb(1, 66, 47);
    height: 5%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white
}

.side-bar a:nth-child(1) {
    display: flex;
    justify-content: right;
    width: 95%;
    font-size: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: red;
}

.class-group{
    display: flex;
    justify-content: center;
    width: 15%;
    min-height: 90%;
    background-color: green;
}

.notion-board {
    width: 85%;
    min-height: 90%;
    background-color: yellow;
    overflow-y: scroll;
}

.notion {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aquamarine;
    width: 99%;
    margin: 0.5%;
    min-height: 7.5%;
}

.notion h3 {
    margin-left: 1%;
}

.notion p {
    margin-right: 1%;
}

.notion h3, strong {
    margin-right: 1%;
}

.open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 7.5%;
    height: 10%;
}
