* {
    margin: 0%;
}

body {
    width: 100vw;
    height: 100vh;
}

.side-bar {
    position: absolute;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(1, 66, 47);
    display: flex;
    flex-direction: column;
    align-self: center;
    transition: 0.5s;
}

.side-bar a {
    display: flex;
    width: 100%;
    background-color: rgb(1, 66, 47);
    height: 5%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white
}

.side-bar a:nth-child(1) {
    display: flex;
    justify-content: right;
    width: 95%;
    font-size: 40px;
}

.side-bar a:last-child {
    background-color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: red;
}

.class-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    min-height: 90%;
    background-color: green;
}

.notion-board {
    width: 85%;
    height: 90%;
    background-color: yellow;
    overflow-y: scroll; /* Add this line */
}

.notion {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: pink;
    width: 99%;
    margin: 0.5%;
    min-height: 7.5vh;
}

.notion h3 {
    margin-left: 1%;
}

.notion p {
    margin-right: 1%;
}

.notion h3, strong {
    margin-right: 1%;
}

.open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 7.5%;
    height: 10%;
}

.add-btn {
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1%;
    width: 10vh;
    height: 10vh;
    background-color: green;
    border-radius: 100%;
}

.add-btn button {
    opacity: 0.6;
    display: flex;
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    font-size: 70px;
}

.add-btn button:hover {
    opacity: 1;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}

.popup-content h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 20%;
    width: 100%;
    font-size: 50px;
}

.popup-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
}

.popup-input input {
    width: 100%;
    height: 40%;
    font-size: 30px;
    border-radius: 10px;
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.popup-content button {
    width: 100%;
    height: 100%;
    font-size: 30px;
    border-radius: 10px;
}